<div class="container mt-4">
    <h2>Resumo do Sistema</h2>
    <div class="row">
        <div class="col-md-4">
            <p class="alert alert-primary">Total de Apostas: <span th:text="${dashboard.totalApostas}"></span></p>
        </div>
        <div class="col-md-4">
            <p class="alert alert-success">Total de Partidas: <span th:text="${dashboard.totalPartidas}"></span></p>
        </div>
        <div class="col-md-4">
            <p class="alert alert-warning">Total de Usuários: <span th:text="${dashboard.totalUsuarios}"></span></p>
        </div>
    </div>
</div>